body {
    background-color: aqua;
    width: fit-content;
    text-indent: 0cqb;
    margin-left: 10px;
}
p:hover {
    color: navajowhite;
    display: flex;
    font-display: inherit;
    background-color: rgb(102, 51, 153);
    width: 50%;
}
img {  
border-radius: 30px;width: 0cqi;
}
@media(min-width: 400) {  
  background-color: white;
}