body {
    background-color: aqua;
    width: fit-content;
    text-indent: 0cqb;
    margin-left: 10px;
}
p {
    color: navajowhite;
    display: flex;
    font-display: inherit;
    background-color: rebeccapurple;
}