body {
    background-color: aqua;
    width: fit-content;
    text-indent: 0cqb;
    margin-left: 10px;
}
p {
    color: navajowhite;
    display: flex;
    font-display: inherit;
    background-color: rgb(102, 51, 153);
    width: 50%;
}
@media screen(<=400) {
  background-attachment: fixed;  
  background-color: white;
}