h1 {
    text-align: left;
  font-weight: bold;
  font-family: helvatica;
  border: 45px;
  border-radius: 80px;
  color: royalblue;
}
body {
    background-color: aqua;
}

.teal-background {
    background-color: teal;
}
}